@page
@model FrontEnd.Pages.MediaQuerysModel
@{
    ViewData["Title"] = "MediaQuery";
}

<div id="contenedor">
    <section id="columna-izq">Hola soy un parrafo responsive
        Hola soy un parrafo responsive
        Hola soy un parrafo responsive
        Hola soy un parrafo responsive
        Hola soy un parrafo responsive
        Hola soy un parrafo responsive
        Hola soy un parrafo responsive.</section>
</div>
<aside id="columna-der">
    Hola soy una columna lateral responsive.
    Hola soy una columna lateral responsive
    Hola soy una columna lateral responsive
    Hola soy una columna lateral responsive
    Hola soy una columna lateral responsive
    Hola soy una columna lateral responsive
    Hola soy una columna lateral responsive
</aside>